<div class="main">
  <div class="loader" *ngIf="loaded.length<37">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
  <div class="button-row">
    <button *ngIf="mode=='edit'" mat-button (click)="switchMode('visualize')">
      <mat-icon>visibility</mat-icon> Visualiser</button>
    <button *ngIf="mode=='edit'" mat-button (click)="randomFigures()">
        <mat-icon>shuffle</mat-icon> Figures au hasard</button>
    <button *ngIf="mode=='visualize'" mat-button (click)="switchMode('edit')">
      <mat-icon>edit</mat-icon> Modifier</button>
    <button *ngIf="mode=='visualize'" mat-button (click)="savePNG()">
      <mat-icon>save</mat-icon> Sauvegarder</button>
  </div>
  <div class="pliego-container">
    <svg version="1.1" baseProfile="full" viewBox="0 0 740 1050" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" #pliegoSVG>

      <defs>
          <style>
            {{b64Fonts}}
          </style>
      </defs>
      
      <g [ngClass]="mode">
        
      <image *ngIf="b64Bg" attr.xlink:href="data:image/jpg;base64,{{b64Bg}}" height="1050" width="740"/>
      
      <image *ngIf="b64Frise" attr.xlink:href="data:image/jpg;base64,{{b64Frise}}" height="1050" width="740"/>

      <text class="number" x="91%" y="85px" text-anchor="end"
        font-family="'Bodoni Moda', serif" font-size="1.2em" opacity="0.75" fill="#2e1900">N° 10.</text>

      <text id="title-1" x="50%" y="570px" text-anchor="middle"
        font-family="'Bodoni Moda', serif" font-size="2.5em" font-weight="bolder" letter-spacing="0.2em"
        opacity="0.75" fill="#2e1900">{{pliego.line1}}</text>

      <text class="title-2" x="50%" y="609px" text-anchor="middle"
        font-family="'Bodoni Moda', serif" font-weight="normal" font-size="1.8em"
        opacity="0.75" fill="#2e1900">{{pliego.line2}}</text>

      <text class="title-3" x="50%" y="675px" text-anchor="middle"
        font-family="'Bodoni Moda', serif" font-size="3em" font-weight="bolder"
        opacity="0.75" fill="#2e1900">{{pliego.line3}}</text>

      <text class="title-4" x="50%" y="720px" text-anchor="middle"
        font-family="'Bodoni Moda', serif" font-size="1.8em" font-weight="normal" font-style="italic"
        opacity="0.75" fill="#2e1900">{{pliego.line4}}</text>

      <text class="license" x="50%" y="870px" text-anchor="middle"
        font-family="'Bodoni Moda', serif" font-size="1.5em" font-weight="lighter" opacity="0.75" fill="#2e1900">
        <tspan x="50%" class="place" text-anchor="middle">Chez {{pliego.printer}}, impr. & libraire</tspan>
        <tspan x="50%" class="address" text-anchor="middle" dy="1.5em"
          font-size="0.9em">
          À Genève, Boulevard Carl-Vogt Num. 66.
        </tspan>
      </text>
      
      <image *ngIf="pngImages[0]" attr.xlink:href="data:image/png;base64,{{pngImages[0].b64}}"
        [attr.width]="pngImages[0].width"
        [attr.height]="pngImages[0].height"
        [attr.x]="pngImages[0].x"
        [attr.y]="pngImages[0].y"/>
      <image *ngIf="pngImages[1]" attr.xlink:href="data:image/png;base64,{{pngImages[1].b64}}"
        [attr.width]="pngImages[1].width"
        [attr.height]="pngImages[1].height"
        [attr.x]="pngImages[1].x"
        [attr.y]="pngImages[1].y"/>
      <image *ngIf="pngImages[2]" attr.xlink:href="data:image/png;base64,{{pngImages[2].b64}}"
        [attr.width]="pngImages[2].width"
        [attr.height]="pngImages[2].height"
        [attr.x]="pngImages[2].x"
        [attr.y]="pngImages[2].y"/>
      </g>
      
      <g [ngStyle]="{'display': editmode}">
        <g style="cursor: pointer;" (click)="changeImage(0,'up')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g transform="matrix(1,0,0,1,203,0)" style="cursor: pointer;" (click)="changeImage(1,'up')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g transform="matrix(1,0,0,1,410,0)" style="cursor: pointer;" (click)="changeImage(2,'up')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g transform="matrix(1,0,0,-1,0,588.426)" style="cursor: pointer;" (click)="changeImage(0,'down')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g transform="matrix(1,0,0,-1,203,588.426)" style="cursor: pointer;" (click)="changeImage(1,'down')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g transform="matrix(1,0,0,-1,410,588.426)" style="cursor: pointer;" (click)="changeImage(2,'down')">
            <g transform="matrix(0.511107,0,0,0.511107,36.7748,28.6246)">
                <circle cx="254.79" cy="154.74" r="39.131" style="fill:rgb(162,42,44);"/>
            </g>
            <g transform="matrix(3.67397e-17,-0.600006,0.870139,5.32807e-17,27.9094,206.914)">
                <path d="M147,166.038L147,153.66L169.049,153.66L169.049,147.471L187,159.849L169.049,172.227L169.049,166.038L147,166.038Z" style="fill:white;"/>
            </g>
        </g>
        <g style="cursor: pointer;" (click)="openBottomSheet('line1')">
          <circle cx="700" cy="555" r="20" style="fill:rgb(162,42,44)"/>
          <text class="number" x="700" y="565" text-anchor="middle"
            font-family="'Bodoni Moda', serif" font-size="2em" font-weight="bold" fill="#FFFFFF">1</text>
        </g>
        <g style="cursor: pointer;" (click)="openBottomSheet('line2')">
          <circle cx="700" cy="602" r="20" style="fill:rgb(162,42,44)"/>
          <text class="number" x="700" y="612" text-anchor="middle"
            font-family="'Bodoni Moda', serif" font-size="2em" font-weight="bold" fill="#FFFFFF">2</text>
        </g>
        <g style="cursor: pointer;" (click)="openBottomSheet('line3')">
          <circle cx="700" cy="660" r="20" style="fill:rgb(162,42,44)"/>
          <text class="number" x="700" y="670" text-anchor="middle"
            font-family="'Bodoni Moda', serif" font-size="2em" font-weight="bold" fill="#FFFFFF">3</text>
        </g>
        <g style="cursor: pointer;" (click)="openBottomSheet('line4')">
          <circle cx="700" cy="710" r="20" style="fill:rgb(162,42,44)"/>
          <text class="number" x="698" y="720" text-anchor="middle"
            font-family="'Bodoni Moda', serif" font-size="2em" font-weight="bold" fill="#FFFFFF">4</text>
        </g>
        <g style="cursor: pointer;" (click)="openBottomSheet('printer')">
          <circle cx="310" cy="822" r="20" style="fill:rgb(162,42,44)"/>
          <text class="number" x="310" y="832" text-anchor="middle"
            font-family="'Bodoni Moda', serif" font-size="2em" font-weight="bold" fill="#FFFFFF">5</text>
        </g>
      </g>
      
    </svg>
  </div>
</div>
