mat-drawer {
  width: 33%;
  text-align: center;
}

mat-form-field{
    width: 80%;
}

.form-drawer{
  padding: 1.2rem;
}

.main {
  max-width: 420px;
  margin: 0 auto;

  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      flex-grow: 1;
    }
  }

  .pliego-container {
    .edit{
      .editable{
        outline: 3px solid red;
      }
    }
  }
}
